* {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.js-user-stone,
.js-user-paper,
.js-user-scissors {
  cursor: pointer;
  border: solid;
  border-radius: 100px;
  margin-right: 20px;
  height: 150px;
  width: 150px;
}

.moves-img:hover,
.js-user-paper:hover,
.js-user-scissors:hover,
.js-user-stone:hover {
  background-color: white;
  transition: 0.25s;
}

img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.js-reset-btn,
.js-autoPlayBtn {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 40px;
  width: 200px;
  font-size: 15px;
  border: 2px solid white;
  cursor: pointer;
}

.js-reset-btn:hover,
.js-autoPlayBtn:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}

.js-confirm-yes,
.js-confirm-no {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  border: 2px solid white;
}
.js-confirm-yes:hover,
.js-confirm-no:hover {
  background-color: white;
  color: black;
  transition: 0.2s;
}
.hidden {
  display: none;
}

.js-move-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

@media (max-width: 537px) {
  h1 {
    font-size: 1.2rem;
  }
  img {
    height: 60px;
    width: 60px;
  }
  button {
    height: 100px;
    width: 100px;
  }
  .js-move-img {
    height: 30px;
    width: 30px;
  }
}
@media (max-width: 387px) {
  h1 {
    font-size: 1rem;
  }
  img {
    height: 50px;
    width: 50px;
  }
  button {
    height: 80px;
    width: 80px;
  }

  .js-move-img {
    height: 30px;
    width: 30px;
  }
}
@media (max-width: 328px) {
  h1 {
    font-size: 0.9rem;
  }
  img {
    height: 50px;
    width: 50px;
  }
  button {
    height: 70px;
    width: 70px;
  }
  .js-move-img {
    height: 30px;
    width: 30px;
  }
}
