*{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

button{
    cursor: pointer;
    border: solid;
    border-radius: 100px;
    margin-right: 20px;
    height: 150px;
    width: 150px;;
}

img{
    height: 140px;
    width: 140px;
    border-radius: 50%;
}

.js-reset-btn{
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 40px;
    width: 200px;
    font-size: 15px;
}

.js-move-img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}